# Node
node_modules/
npm-debug.log*
.angular/

# Maven / Java build output
target/
*.class
*.jar
*.war
*.ear

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log
ng-serve.log

# OS
.DS_Store
Thumbs.db
